{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.879"}
        reagent {:mvn/version "1.1.0"}
        cljsjs/mustache {:mvn/version "2.2.1-0"}
        cljsjs/jszip {:mvn/version "3.1.3-0"}
        cljsjs/filesaverjs {:mvn/version "1.3.3-0"}
        }
 :paths ["src" "resources"]
 :aliases {:fig {:extra-deps
                  {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                   com.bhauman/figwheel-main {:mvn/version "0.2.14"}}
                 :extra-paths ["target" "test"]}
           :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :min   {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}
           :test  {:main-opts ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" "app.test-runner"]}}}
