body {
    margin-top:70px;
    background-color:#f2f2f2;
}

.colorcomponent {
    margin-bottom:2vh;
}
.colorcomponents {
    background-color:#ffffff;
    padding:1em;
    border: 1px solid;
    border-color:#d1d1d1;
    opacity:0.9;
}
.colorpreview {
    padding:0.8em;
    /* margin-left:3vw; */
    /* margin-top:2px; */
    /* margin-right:1vw; */
    border-radius:1em;
    border:1px solid;
    borger-color:#d1d1d1;
}
@media (min-width:768px) {
    .previewcomponent {
        margin-right:5vw;
    }
    .colorcomponents {
        margin-left:1vw;
    }
}
.colorinput {
    margin-right:1vw;
}


.previewcomponent {
    
    padding:1vh;
    -webkit-box-shadow: 2px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 12px 4px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 12px 0px rgba(0,0,0,0.75);
    min-height:70vh;
}
.previewcomponent pre {
    border:0px;
}